.comment {
    display: grid;
    grid-template-columns: 50px auto;
}

.comment-content {
    background-color: #e6ebf5;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.comment-content > h5 {
    margin: 0;
}

.comment-content > p {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
}

.comment-content > h5:hover {
    text-decoration: underline;
    cursor: pointer;
}