.post-container {
  border-bottom: 2px solid #e6ebf5;
}

.post-container .d-flex {
  align-items: center;
}

.post-container .info {
  margin-left: 1rem;
}

.post-container h4,
.post-container small {
  margin: 0;
}

.post-container .post-content {
  margin-top: 1rem;
}
