
.comment-input-box{
    position: relative;

}

.comment-input-box > input{
    width: 100%;
    height: 100%;
    background-color: #e6ebf5;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    border: none;

}

.comment-input-box > button{
    font-size: 1.2rem;
    color: #000046;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    padding-right: 10px;
    border-radius: 50%;
}

.comment-input-box > button:hover{
    cursor: pointer;
}
.poster-content > p {
    color: blue;
}