.profile-display-container {
    background-color: white;
    border-radius: 15px;
    width: calc(100% - 10px);
    padding: 20px;
}

.profile-header-container {
    display: flex;
}

.profile-header-container > h3 {
    margin-left: 20px;
}

.profile-header-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 45% 45%;
    grid-column-gap: 50px;
}

.profile-header-grid-item {
    border-top: solid 1px lightgray;
    display: inline-block;
    padding-left: 15px;
    text-align: left;
    align-items: left;
}

.profile-header-grid-item > div {
    display: inline-flex;
    justify-content: left;
    width: 100%;
    margin-bottom: 30px;
}

.submit-changed-profile-button {
    position: relative;
    left: calc(100vw - 250px - 100px);
    display: flex;
    justify-content: center;
}

.submit-changed-profile-button > span {
    text-align: center;
    color: var(--form-background-color)
}

@media only screen and (max-width: 800px) {
    .profile-header-grid {
        grid-template-columns: 80%;
    }

    .submit-changed-profile-button {
        left: 75%;
    }
}

@media only screen and (max-width: 600px) {
    .submit-changed-profile-button {
        left: calc(100vw - 175px);
    }
}