.sharetop{

  display: flex;
}
.sharebutton{
  color:white;
  
  background-color: navy;
  height: 50px;
  display: flex;
  border-radius: 25%;
  
}
.sharetop {
  width: 95%;
  height: 80px;
  padding: 25px;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.userlogo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: px;
  background-color:rgb(107, 107, 157);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  
}

.postbutton {
  color: white;
  background-color: navy;
  height: 60px;
  width: 120px; /* Adjust as needed */
  border-radius: 15%;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.inputbutton {
  color: white;
  background-color:#e6ebf5;
  height: 50px;
  display: flex; 
  width: 900px;
  border-radius: 5%;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  padding: 10px;
  
}

.blogup{
  width: 95%;
  height: 200px;
  padding: 25px;
  background-color:white;
  padding: 25px;

  


}
.userlogo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px; 
  height: 60px; 
  border-radius: 50%;
  background-color: #2a48a8; 
  color: #ffffff; 
  font-size: 24px; 
}
