/* PROFILECIRCLE */

.profile-circle {
    width: 40px; /* Adjust the size of the circle */
    height: 40px; /* Adjust the size of the circle */
    border: 1px solid #ffffff;
    border-radius: 50%; /* Makes the element a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensures the content doesn't overflow the circle */
  }

  .profile-circle:hover{
    border: 1px solid #64dc78;
  }
  
  .initials {
    color: white; /* Set the text color */
    font-size: 20px; /* Adjust the font size */
    font-weight: bold; /* Adjust the font weight */
  }

/* PROFILEFORM */

.input-item >  input {
  flex: 1;
  padding: 0px 20px;
  justify-content: left;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 2rem;
}

.user-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.savebtn{
  color: #f0ffff;
  background-color: #000046;
}

.savebtn:hover{
  background-color: #64dc78;
}

.user-form-container{
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;

  background-color: #ffffff;
}



/* USERINFO */

.user-info {
  
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  color: #555;
}

.value {
  flex-grow: 1;
  margin-left: 10px;
  color: #333;
}