/* style for the header, it must have a fixed height and full width */
.header {
  height: fit-content;
  width: 100vw;
  background-color: #000046;
}

.header_image {
  max-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 3%;
}

.circle_container {
  margin-left: 93%;
  margin-top: -70px;
  margin-bottom: 20px;
}

.header_circle_button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  color:#000046;
  padding: 2px;
}

.header_circle_text {
  margin:auto;
}