body {
    /* Make the body fill all the size of viewport */
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
    /* remove padding and margins */
    margin: 0;
    padding: 0;
}

/* Create a root container that fills the screen
make the child components lay out using flex, vertically stacked in a column */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Create a container that fills the rest of the screen that is left over */
/* The children inside this container must be laid out using flex as a row, from left to right */
.container-nav-main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

/* style for the header, it must have a fixed height and full width */
.header {
    height: 100px;
    width: 100vw;
}

/* make the sidebar fill the available height and be of fixed width */
.sidebar {
    width: 100px;
    height: 100%;
    /* fix the sidebar to be 100 viewport minus the header */
    max-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.sidebar, nav, li{
    padding-right: 20px;
    color: white;
}

li:hover{
    background-color: #F0F5FA;
    color: #000046;
}

.sidebar img{
    padding: 70px;
}

.sidebar .img:hover{
    color: #000046;
    background-color: #000046;
    cursor: pointer;
}

/* make the main fill the remaining width and the full height of the parent */
.main {
    flex-grow: 1;
    /* if contents of main overflow from the height, add a scrollbar on main */
    overflow-y: auto;
    /* fix the sidebar to be 100 viewport minus the header */
    max-height: calc(100vh - 60px);
}

.blue {
    background-color: #000046;
}

.green {
    background-color: #F0F5FA;
}

.yellow {
    background-color: white;
    margin: 50px;
    height: 300px;
    width: 90%;
    border-radius: 25px;
    color: black;
    padding: 5px;
    padding-left: 20px;
}

.createPost{
    display: flex;
    background-color: white;
    margin: 50px;
    width: 90%;
    border-radius: 25px;
    color: black;
    padding: 5px;
    padding-left: 20px;
}
.textInput{
    display: flex;
    margin: 10px;
    margin-top: 15px;
    width: 80%;
    background-color: #F0F5FA;
    color: black;
    padding: 10px;
    border-radius: 25px;
}

#postBtn{
    margin: 10px;
    border-radius: 25px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    color: gray;
}

.iconBox{
    display: flex;
    height: 50px;
}
.formWrap{
    display: flex;
    background-color: #F0F5FA;
    width: 80%;
    align-items: center;
    justify-content: center;
    color: black;
    flex-grow: 1;
    overflow-y: auto;
}

.profileForm{
    border-radius: 25px;
    background-color: white;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .profileForm input {
    border: #F0F5FA;
    border-radius: 20px;
    background-color: #F0F5FA;
    color: black;
 }

.initials-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000046;
    /* Adjust the color as needed */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
    font-size: 20px;
}
.comment {
    display: flex;
    align-items: center;
    /* Your styles for the comment */
}
.comments-section{
    background-color: white;
    transform: translateX(50px) translateY(0px);
}