* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  height: 75px;
  background-color: #000046;
}

.profile-icon {
  display: grid;
  place-items: center;
  background-color: rgb(106, 255, 47);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-weight: bold;
}
