/* ProfileBadge.css */

.profileBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%;
  background-color: #09874a; /* Set the background color */
  color: #ffffff; /* Set the text color */
  font-size: 16px; /* Set the font size */
}
