/* ProfileInitialsBadge.css */

.profileBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  border-radius: 50%;
  background-color: #00ffbf; /* Set the background color */
  color: #ffffff; /* Set the text color */
  font-size: 14px; /* Set the font size */
}
