.topbarContainer {
  background-color: #000046; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
  height: 80px;
}

.topbarLeft {
  display: flex;
  align-items: center;
}

.headerlogo {
  width: 300px; 
  height: auto; 
  font:white;

}

.tobarRight{
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.circle {
  display: inline-block;
    background-color: #68a67a;
    margin: 10px;
    border-radius: 50%;
}

.circle-inner {
  color: white;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
  height: 75px;
  width: 75px;  
  font-size: 30px;
}


