.topbarContainer {
  background-color: #000046; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
  height: 80px;
}

.topbarLeft {
  display: flex;
  align-items: center;
}

.headerlogo {
  width: 300px; 
  height: auto; 
  font:white;

}

.tobarRight{
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.profileBadge {

}

.circle {
  width: 40px;
  height: 40px;
  padding: 5px;
}


