.comment {
    padding: 10px 0;
  }
  
  .comment-header {
    display: flex;
    align-items: center;
  }
  
  .comment-content {
    margin-left: 50px;
  }
  
  .comment .user-icon {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  