
.dashboard-container {
    width: 100vw;
    height: 100v;
    display: flex;
    flex-direction: column;
    background-color: #F0F5FA;
  
}

.dashboard-header {
    height: 10vh;
    width: 100vw;
    border: solid black 1px;
    position: fixed;

}

.dashboard-leftNavBar {
    margin-top: 10vh;
    width: 10vw;
    height: 90vh;
    border: solid black 1px;
    position: fixed;
    background-color: white;

}

.dashboard-postbar {
    display: flex;
    border: solid black 1px;
    margin-top: 10vh;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: white;

}


.dashboard-content {
    margin-left: 15vw;
    height: 100vh;
    background-color: #F0F5FA;
}
.dashboard-post {
    border: solid black 1px;
    border-radius: 1%;
    align-items: center;
    margin-top: 2vh;
    background-color: white;
}