.singlePost-container {
    margin: 5%;
    padding: 1%;
}


.singlePost-postHistory {
    border: solid black 1px;
    margin-top: 5vh;
    background-color: #F0F5FA ;
}

.singlePost-header {
}

.singlePost-title {
    color : #64648c;
}