body {
  height: 100vh;
  width: 100vw;
}

.main_grid{
  display: grid;
  grid-template: 
  "header" "header" 50px
  "left-menu" "main" 1fr/
      50px      1fr;
}

.header {
  grid-area: "header";
  background-color: #000046;
}

.left-menu {
  grid-area: "left-menu";
}

.main {
  grid-area: "main";
}