#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  
}

.container {
  display: grid;
  grid-template:
    "header     header" 90px
    "main-grid  main-grid" 1fr/
    60px 1fr;
}

.main-grid {
  display: grid;
  grid-area: main-grid;
  grid-template:
    "left-menu  main-content" 1fr/
    130px 1fr;
}

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 50px 300px 1fr;
  background-color: #000046;
  padding-left: 80px;
  margin-left: -10px;
  margin-top: -10px;
}

.h1 {
  color: white;
  margin-top: 30px;
}

.logo {
  margin-top: 25px;
}

.initials {
  display: grid;
  justify-content: center;
  place-content: center;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(45, 158, 45);
  margin-left: 1350px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.left-menu {
  display: grid;
  grid-area: left-menu;
  grid-template-rows: 150px;
}

.home-logo,
.profile-logo {
  margin: 40px 0px 0px 40px;
  transition: all 0.3s ease-in-out;
}

.home {
  margin: 0px 0px 0px 40px;
  color: #000046;
  text-decoration: none;
}

.profile {
  margin: 0px 0px 0px 40px;
  color: #000046;
  text-decoration: none;
}

.main-content {
  display: grid;
  grid-area: main-content;
  height: 100vh;
  background-color: #f0f5fa;
  overflow: scroll;
}

.whole-logo:hover {
  margin: 0px 0px 20px -10px;
  background-color: #e2f0f9;
}

.whole-profile:hover {
  margin: 0px 0px 690px -10px;
  background-color: #e2f0f9;
}

/* main content 
*/

.main-postbox{
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  margin-left: 30px;
  background-color: white;
}

.main-input{
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #e2f0f9;
  padding: 15px 1300px 15px 10px;
  margin: 20px 0px 20px 55px;
}

.main-postbutton{
  border: none;
  font-size: 15px;
  font-weight: bold;
  background-color: #000046;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  padding: 15px 50px 15px 50px;
  cursor: pointer;
}

.full-comment-li {
  list-style: none;
  background-color: white;
  border-radius: 10px;
  margin: 10px 20px 10px -10px;
}

.comment-title {
  display: grid;
  grid-template-columns: 50px 1fr;
  font-size: 20px;
  font-weight: bold;
  color: #000046;
  padding: 20px 0px 0px 40px;
}

a {
  text-decoration: none;
}

.comment-link {
  color: rgb(152, 148, 148);
  margin: 0px 0px 20px 90px;
}

.main-comment {
  font-size: 18px;
  color: #000046;
  margin: 0px 0px 20px 20px;
}

.hr {
  color: grey;
  margin: 0px 25px 30px 25px;
}
.comment-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.input {
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #e2f0f9;
  padding: 15px 1300px 15px 10px;
  margin-bottom: 20px;
  margin-left: 80px;
}

.post-button {
  border: none;
  background-color: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 140px 20px 10px;
}

.post-initials {
  background-color: #000046;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  margin-right: 4px;
}

.other-comments {
  border-radius: 10px;
  background-color: white;
  margin: 10px 0 0 20px;
  padding: 10px;
}

.other-comments p {
  width: fit-content;
  padding: 20px 10px 20px 10px ;
  border-radius: 5px;
  background-color: #e2f0f9;
  border: none;
  overflow: hidden;
}

.post-initials {
  float: left; 
  background-color: #000046;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px; 
  
}


