/* App.css */

/* Container for the entire page content */
.app-container {
  font-family: sans-serif;
}

/* Content wrapper for scrollable content */
.main-content {
  margin-top: 78px;
  display: flex; /* Allow side-by-side positioning */
  
}
