.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  textarea {
    width: 600px;
    height: 35px;
    resize: vertical;
    margin-right: 10px;
  }
  
  .add-btn {
    padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  .btn-add-post:hover {
    background-color: #0056b3;
  }