.create-post-container {
  display: flex;
  flex-direction: row;
  width: 98%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  background: white;
}

.text-field {
  width: 80%;
  padding: 0 15px 0 10px;
}

.button {
  width: 15%;  
  background: #000046;
}