.box-container {
  border: 1px solid #E6EBF5;
  border-radius: 10px;
}

.box-container-white {
  background-color: white;
  padding: 20px;
}

.box-container-colored {
  background-color: #E6EBF5;
  padding: 10px;
}

/* NOTE: styles for new post form */
.app > .dashboard > .new-post-form {
  display: grid;
  grid-template-columns: 50px auto 200px;
}

.app > .dashboard > .new-post-form > .post-input {
  margin-left: 10px;
  padding: 15px;
}

.app > .dashboard > .new-post-form > .post-button {
  height: 50px;
  margin-left: 15px;
  font-weight: bold;
  border-radius: 10px;
  border-style: none;
}

/* NOTE: styles for posts */
.app > .dashboard > .post-feed > .post {
  margin-top: 10px;
  padding-left: 30px;
}

.app > .dashboard > .post-feed > .post > .post-header {
  display: grid;
  grid-template: 
    "banner author" auto
    "banner title" 20px / 60px 1fr;
}

.app > .dashboard > .post-feed > .post > .post-header > .user-banner {
  grid-area: banner;
  margin-right: 10px;
}

.app > .dashboard > .post-feed > .post > .post-header > .author {
  grid-area: author;
}

.app > .dashboard > .post-feed > .post > .post-header > .title {
  grid-area: title;
  color: #64648c;
}

.app > .dashboard > .post-feed > .post > .post-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app > .dashboard > .post-feed > .post > .delimeter {
  /* NOTE: changed hr style as explained here: https://stackoverflow.com/a/6382036 */
  margin: 25px 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #E6EBF5;
}

/* NOTE: styles for new comment form */
.app > .dashboard > .post-feed > .post > .new-comment-form {
  display: grid;
  grid-template-columns: 60px auto 50px;
}

.app > .dashboard > .post-feed > .post > .new-comment-form > .user-banner {
  margin-right: 10px;
}

.app > .dashboard > .post-feed > .post > .new-comment-form > .comment-input {
  padding: 15px;
}

.app > .dashboard > .post-feed > .post > .new-comment-form > .comment-button {
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 2px;
  background-color: #64648c34;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
}

.app > .dashboard > .post-feed > .post > .new-comment-form > .comment-button:hover {
  background-color: #E6EBF5;  /*TODO: choose between #64dc78 and #E6EBF5 */
}

/* NOTE: styles for comments */
.app > .dashboard > .post-feed > .post > .comments-list > .load-more-button {
  border: none;
  background-color: white;
  color: #64648c;
  /* margin-bottom: 15px; */
}

.app > .dashboard > .post-feed > .post > .comments-list > .comment {
  display: grid;
  grid-template-columns: 60px auto;
  margin-top: 15px;
  margin-bottom: 15px;
}