/* NOTE: styles for new post form */
.app > .dashboard > .new-post-form {
  display: grid;
  grid-template-columns: 50px auto 170px;
  height: 130px;
  grid-gap: 5px;
}

.app > .dashboard > .new-post-form > .post-input {
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  padding: 15px;
  height: 80px;
}

.app > .dashboard > .new-post-form > .post-button {
  height: 50px;
  /* margin-left: 15px; */
  /* font-weight: bold; */
  font-size: large;
  border-radius: 10px;
  border-style: none;
  margin-left: 10px;
}

/* NOTE: styles for posts */
.post {
  margin-top: 10px;
  padding-left: 30px;
}

.post > .post-header {
  display: grid;
  grid-template: 
    "banner author" auto
    "banner title" 20px / 60px 1fr;
}

.post > .post-header > .user-banner {
  grid-area: banner;
  margin-right: 10px;
}

.post > .post-header > .author {
  grid-area: author;
}

.post > .post-header .title {
  grid-area: title;
  color: #64648c;
  font-weight: bold;
}

.post > .post-body {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* NOTE: styles for new comment form */
.post > .new-comment-form {
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 5px;
}

.post > .new-comment-form > .new-comment-form-content {
  margin-right: 15px;
  padding: 5px;
  display: grid;
  grid-template-columns: auto 60px;
  grid-gap: 5px;
}

.post > .new-comment-form .comment-input {
  padding: 0;
}

.post > .new-comment-form .comment-button {
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 2px;
  background-color: #64648c34;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
}

.post > .new-comment-form .comment-button:hover {
  background-color: #E6EBF5;  /*TODO: choose between #64dc78 and #E6EBF5 */
}

/* NOTE: styles for comments */
.post > .comments-list > .load-more-button {
  border: none;
  background-color: white;
  color: #64648c;
  /* margin-bottom: 15px; */
}

.post > .comments-list > .comment {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}