.app > .header {
    grid-area: header;
    background-color: #000046;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app > .header > .header-logo {
    margin-left: 75px;
    width: 500px;
}