/* HEADER */
.header {
    display: grid;
    grid-area: Header;
    grid-template-columns: 1fr 45px;

    align-content: center;
    padding: 10px 70px;
    background-color: #000046;
}

.profile-circle {
    background-color: red;
    border-radius: 9999px;
}