.header {
    grid-area: header;
  
    display: grid;
    grid-template-columns: 380px 1fr;
  
    border-bottom: solid 1px #00000020;
    background-color: #000046;
    top: 0px;
    position: sticky;
}
  
.menu-icon {
    /* width: 50%;
    height: 50%; */
    margin: 20px;
    margin-left: 55px;
  }

  .header > .profileIcon{
    margin: 20px;
    margin-right: 55px;
    justify-self: right;  
}