.app > .header {
    grid-area: header;
    background-color: #000046;
    padding-left: 100px;
    padding-right: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app > .header > .header-logo {
    width: 500px;
}