.header {
  display: flex;
  width: 100%;
  height: 80px;
  color: white;
  padding: 10px;
  justify-content: center;
}

.header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
}

.header-logo {
  cursor: pointer;
  width: 300px;
}

.header,
.header > button {
  background-color: #000046;
}
