.New-comment-container {
    background-color: #e6ebf5;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 2px;
    display: flex;
    
  }

  .New-Post-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .textarea-section {
    flex: 1; 
    margin-right: 5px; 
    margin-left: 5px;
  }
  
  .content {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
  }
  
  .actions-section {
    text-align: right;
  }
  
  .submit-btn {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .submit-btn:disabled {
    background-color: #b0d2f9;
    cursor: not-allowed;
  }
  
  .post-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .post-container:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .author-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .author-info img {
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .post-details {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-left: 16px; 
  }
  
  .post-details h2 {
    margin-bottom: 8px;
  }
  
  .comment-list-container {
    margin-top: 16px;
    border-top: 1px solid #ddd;
    padding-top: 16px;
  }
  
  .see-more-comments {
    border-radius: 50%;
    margin-left: 8px;
    border: 1px solid #ddd;
  }