.left-menu {
    position: fixed;
    top: 78px;
    left: 0;
    width: 100px; 
    height: calc(100vh - 78px); 
    background-color: #fff; 
    display: flex;
    flex-direction: column; 
}

.options {
    padding-top: 1rem;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    font-weight: bold;
    color: #64648c;
}

.options:hover {
    background-color: #64dc78;
    color: #64648c;
}

.icon {
    width: 30px; 
    height: auto; 
    margin-bottom: -10px; 
}

.active {
    background-color: #e6ebf5; 
}