.app > .main {
    grid-area: main;
    background-color: #F0F5FA;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.app > .main::-webkit-scrollbar {
    width: 20px;
}

.app > .main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

.app > .main::-webkit-scrollbar-thumb {
    background: #64648c;
    border-radius: 10px;
}

.app > .main > .new-post-section {
    margin-top: 30px;
    width: 96%;
    background-color: white;
    border-radius: 20px;
    border: solid 1px lightgray;

    display: grid;
    place-items: center;
    grid-template-columns: 2fr 30fr;
}

.app > .main > .new-post-section .new-post-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    height: 60%;
}

.app > .main > .new-post-section .new-post-title {
    background-color: #e6ebf5;
    color: #000046;
    padding-left: 20px;
    margin-right: 10px;

    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
    height: 100%;
    width: 30%;
    border: 0;
    border-radius: 15px;
}

.app > .main > .new-post-section .new-post-msg {
    background-color: #e6ebf5;
    color: #000046;
    padding-left: 20px;

    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 15px;
}

.app > .main > .new-post-section .new-post-button {
    background-color: #000046;
    color: white;
    margin: 0 20px 0 20px;  
    
    width: 20%;
    height: 100%;
    border: 0;
    border-radius: 15px;

    font-family: sans-serif;
    font-size: 28px;
}

.app > .main > .new-post-section .new-post-button:hover {
    background-color: #64dc78;
}

.app > .main > .post-section {
    width: 96%;
    list-style-type: none;
    padding:0;
    margin: 0;
}

.app > .main > .post-section .single-post {
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    border: solid 1px lightgray;
    padding: 10px 20px 20px 20px;
}

.app > .main > .post-section .post-body {
    width: 100%;
    
    display: grid;
    grid-template-areas: 
    "icon info"
    "msg msg";
    grid-template-rows: 120px 1fr;
    grid-template-columns: 1fr 14fr;
}

.app > .main > .post-section .post-body .post-body-info {
    padding-top: 5px;
}

.app > .main > .post-section .post-body .post-body-author {
    margin-bottom: 0;
    color: #000046;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.app > .main > .post-section .post-body .post-body-title {
    margin-top: 10px;
    color: #64648c;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.app > .main > .post-section .post-body .post-body-msg {
    grid-area: msg;
    margin: 5px 15px 0px 15px;
    padding-bottom: 30px;
    color: #000046;
    font-family: sans-serif;
    font-size: 20px;
    overflow-wrap: break-word;
    border-bottom: solid 1px lightgray;
}

.app > .main > .post-section .comment-section {
    width: 100%;

    list-style-type: none;
    padding:0;
    margin: 20px 15px 5px 15px;
}

.app > .main > .post-section .comment-section .see-comments{
    color: gray;
    font-size: 18px;
    margin: 0;
}

.app > .main > .post-section .comment-section .comment-list {
    list-style-type: none;
    padding-left: 10px;
}

.app > .main > .post-section .comment-section .comment-list .comment-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.app > .main > .post-section .comment-section .comment-list .comment-info {
    background-color: #e6ebf5;
    border: 0;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    width: auto;
}

.app > .main > .post-section .comment-section .comment-list .comment-info .comment-author {
    color:#000046;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
}

.app > .main > .post-section .comment-section .comment-list .comment-info .comment-msg {
    color:#000046;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 5px;
    overflow-wrap: break-word;
}

.app > .main > .post-section .comment-section .comment-action{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.app > .main > .post-section .comment-section .comment-action .new-comment {
    height: 70%;
    margin-right: 25px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app > .main > .post-section .comment-section .comment-action .new-comment .new-comment-input {
    background-color: #e6ebf5;
    color: #000046;
    padding: 0px 0px 0px 20px;
    margin: 0;

    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
    height: 100%;
    width: 99%;
    border: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.app > .main > .post-section .comment-section .comment-action .new-comment .new-comment-button {
    background-color: #e6ebf5;

    height: 84px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}