.app > .main {
    grid-area: main;
    background-color: #F0F5FA;
    overflow-y: scroll;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.app > .main::-webkit-scrollbar {
    width: 20px;
}

.app > .main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

.app > .main::-webkit-scrollbar-thumb {
    background: #64648c;
    border-radius: 10px;
}

.app > .main > .new-post-section {
    margin-top: 30px;
    width: 96%;
    background-color: white;
    border-radius: 20px;
    border: solid 1px lightgray;

    display: grid;
    place-items: center;
    grid-template-columns: 2fr 30fr;
}

.app > .main > .new-post-section .new-post-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    height: 60%;
}

.app > .main > .new-post-section .new-post-title {
    background-color: #e6ebf5;
    color: #000046;
    padding-left: 20px;
    margin-right: 10px;

    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
    height: 100%;
    width: 30%;
    border: 0;
    border-radius: 15px;
}

.app > .main > .new-post-section .new-post-msg {
    background-color: #e6ebf5;
    color: #000046;
    padding-left: 20px;

    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 15px;
}

.app > .main > .new-post-section .new-post-button {
    background-color: #000046;
    color: white;
    margin: 0 20px 0 20px;  
    
    width: 20%;
    height: 100%;
    border: 0;
    border-radius: 15px;

    font-family: sans-serif;
    font-size: 28px;
}

.app > .main > .new-post-section .new-post-button:hover {
    background-color: #64dc78;
}

.app > .main > .post-section {
    width: 96%;
    list-style-type: none;
    padding:0;
    margin: 0;
}

.app > .main > .post-section .single-post {
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    border: solid 1px lightgray;
    padding: 10px 20px 20px 20px;
}

.app > .main > .post-section .post-body {
    width: 100%;
    
    display: grid;
    grid-template-areas: 
    "icon info"
    "msg msg";
    grid-template-rows: 120px 1fr;
    grid-template-columns: 1fr 14fr;
}

.app > .main > .post-section .post-body .post-body-info {
    padding-top: 5px;
}

.app > .main > .post-section .post-body .post-body-author {
    margin-bottom: 0;
    color: #000046;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.app > .main > .post-section .post-body .post-body-title {
    margin-top: 10px;
    color: #64648c;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.app > .main > .post-section .post-body .post-body-msg {
    grid-area: msg;
    margin: 5px 15px 0px 15px;
    padding-bottom: 30px;
    color: #000046;
    font-family: sans-serif;
    font-size: 20px;
    overflow-wrap: break-word;
    border-bottom: solid 1px lightgray;
}

.app > .main > .post-section .comment-section {
    width: 100%;

    list-style-type: none;
    padding:0;
    margin: 20px 15px 5px 15px;
}

.app > .main > .post-section .comment-section .see-comments{
    color: gray;
    font-size: 18px;
    margin: 0;
}

.app > .main > .post-section .comment-section .comment-list {
    list-style-type: none;
    padding-left: 10px;
}

.app > .main > .post-section .comment-section .comment-list .comment-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.app > .main > .post-section .comment-section .comment-list .comment-info {
    background-color: #e6ebf5;
    border: 0;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    width: auto;
    max-width: 90%;
}

.app > .main > .post-section .comment-section .comment-list .comment-info .comment-author {
    color:#000046;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
}

.app > .main > .post-section .comment-section .comment-list .comment-info .comment-msg {
    color:#000046;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 5px;
    overflow-wrap: break-word;
}

.app > .main > .post-section .comment-section .comment-action{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.app > .main > .post-section .comment-section .comment-action .new-comment {
    height: 70%;
    margin-right: 25px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app > .main > .post-section .comment-section .comment-action .new-comment .new-comment-input {
    background-color: #e6ebf5;
    color: #000046;
    padding: 0px 0px 0px 20px;
    margin: 0;

    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
    height: 100%;
    width: 99%;
    border: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.app > .main > .post-section .comment-section .comment-action .new-comment .new-comment-button {
    background-color: #e6ebf5;

    height: 84px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.app > .main > .profile-header {
    color:#000046;
    place-self: start;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 46px;
}

.app > .main > .profile-info {
    background-color: white;
    border-radius: 20px;
    border: solid 1px lightgray;
    width: 95%;
    place-items: center;
    margin-bottom: 75px;

    display:grid;
    grid-template-rows: 1fr 9fr;
}

.app > .main > .profile-info .profile-name {
    width: 90%;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 175px;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.app > .main > .profile-info .profile-name .profile-name-avatar {
    transform: scale(1.35);
}

.app > .main > .profile-info .profile-name .profile-name-tag {
    color: #000046;
    font-size: 38px;
}

.app > .main > .profile-info .profile-name .profile-form-note {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 65%;
    color:#64648c;
    margin: 0;
    font-size: 20px;
    font-family: sans-serif;
}

.app > .main > .profile-info .profile-data-form {
    place-self: start;
    margin-left: 130px;
    margin-top: 20px;
    width: 90%;
    height: 99%;

    display: grid;
    grid-template-areas: 
    "account address"
    "contact company"
    "action action";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 4fr 1fr;
}

.app > .main > .profile-info .account-info {
    grid-area: account;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    width: 93%;
}

.app > .main > .profile-info .address-info {
    grid-area: address;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    width: 93%;
}

.app > .main > .profile-info .contact-info {
    grid-area: contact;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    width: 93%;
}

.app > .main > .profile-info .company-info {
    grid-area: company;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    width: 93%;
}

.app > .main > .profile-info .profile-action {
    grid-area: action;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 93%;
}

.app > .main > .profile-info .segment-title {
    color: #000046;
    font-size: 38px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.app > .main > .profile-info .profile-data-form .profile-data-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app > .main > .profile-info .profile-data-form .profile-data-form-field .profile-data-form-field-title {
    margin: 0 0 5px 5px;
    color: #64648c;
    font-family: sans-serif;
    font-size: 20px;
}

.app > .main > .profile-info .profile-data-form .profile-data-form-field .profile-data-form-field-input {
    background-color:#e6ebf5;
    width: 97%;
    height: 75px;
    padding-left: 20px;
    border: 0;
    border-radius: 15px;
    font-size: 30px;
    margin-bottom: 50px;
}

.app > .main > .profile-info .profile-data-form .save-info-button {
    background-color: #000046;
    color: white;
    margin: 0;  
    
    width: 20%;
    height: 100px;
    border: 0;
    border-radius: 15px;

    font-family: sans-serif;
    font-size: 28px;
}

.app > .main > .profile-info .profile-data-form .save-info-button:hover {
    background-color: #64dc78;
}