/* MAIN */

.main {
    grid-template-rows: 100px 1fr;
    gap: 20px;
    margin: 20px;
}

/* CREATE POST */

.create-post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* ALL POSTS */

.all-posts {
    grid-auto-rows: auto;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* SINGLE POSTS */

.single-post-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.single-post {
    grid-template-rows: repeat(2, auto);
    margin-right: 10px;

}

/* POST CONTENT */

.post-content {
    grid-template-rows: 60px auto;
    border-bottom: solid 1px rgba(128, 128, 128, 0.355);
    align-items: center;
}

.post-content-details {
    grid-template-columns: 60px 1fr;
}

.name-title-container {
    grid-template-rows: 30px 20px;
}

.author-name {
    margin: 0;
    color: #000046;
}

.post-title {
    margin: 0;
    font-size: 14px;
    color: #64648c;
}

/* COMMENTS */

.comment {
    grid-template-columns: 60px 1fr;
    gap: 10px;
    margin: 20px 0 10px 0;
    align-items: center;
}

.new-comment {
    grid-template-columns: 1fr 50px;
    margin-left: 10px;
}

.new-comment-label {
background-color: #e6ebf5;
/* border-radius: 10px; */
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.new-comment-input {
    background-color: #e6ebf5;
    width: calc(100% - 20px);
    height: 50px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}

.comment-submit-button {
    margin: 0;
    padding: 0;
    background-color: #e6ebf5; 
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.submit-comment-arrow {
    background-color: #365ba045;
    border-radius: 9999px;
}

.submit-comment-arrow:hover {
    background-color: rgba(38, 88, 181, 0.772);

}