/* NAVIGATION */

.navigation-menu {
    grid-template-rows: repeat(2, 130px);
    background-color: white;
    /* height: 100vh; */
}

.nav-icon-container {
    gap: 5px;
    place-content: center;
    padding: 20px;
}

.nav-icon-img {
    justify-self: center;
}

.nav-icon-text {
    margin: 0;
    color: rgb(76, 75, 75);
}

/* NAV ICON COLOURS */

.current-select {
    background-color: #e6ebf5;
}