.card-comments {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(219, 219, 219);
  padding-top: 15px;
}

.card-comments a {
  cursor: pointer;
  user-select: none;
  opacity: 0.4;
}

.card-comments p {
  user-select: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  opacity: 0.6;
}
