.profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #64dc78;
    color: #000046; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; 
    cursor: pointer;
    flex-grow: 0; 
    flex-shrink: 1;
    margin-right: 0.8rem; 
}

.profile-image:hover {
    color: #000046; 
    filter: brightness(1.2);
}
