.profileImageContainer {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.profileImageTextContainer>p {
    font-family: monospace;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.profileImageContainer:hover {
    cursor: pointer;
    scale: 1.05;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.profileImageTextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
}