.app > .profile {
  margin-top: 30px;
}

.app > .profile > .profile-title {
  margin-left: 25px;
  margin-bottom: 30px;
}

.app > .profile > .profile-content > .profile-header {
  display: grid;
  grid-template-columns: 70px auto;
}

.app > .profile > .profile-content > .profile-header > .name {
  padding-top: 10px;
  font-size: xx-large;
}

.app > .profile > .profile-content > .profile-form > .row {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 5%;
}

.app > .profile > .profile-content > .profile-form > .row > .save-button {
  margin-top: 20px;
  height: 50px;
  width: 170px;
  font-size: large;
  border-radius: 10px;
  border-style: none;
  margin-left: 340px;
}

.input-field > .label-name {
  margin-top: 30px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.app > .profile > .profile-content > .profile-form .label-text {
  font-size: smaller;
  font-weight: bold;
  color: #64648c;
}