.app > .profile > .profile-content > .profile-header {
  display: grid;
  grid-template-columns: 70px auto;
}

.app > .profile > .profile-content > .profile-header > .name {
  padding-top: 10px;
}

.app > .profile > .profile-content > .profile-form {
  margin-top: 20px;
}

.app > .profile > .profile-content > .profile-form > .row {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 5%;
  /* justify-content: center;
  align-items: center; */
}

.app > .profile > .profile-content > .profile-form > .save-button {
  /* margin-left: 950px;
  height: 350px;
  width: 150px; */
  font-weight: bold;
  border-radius: 10px;
  border-style: none;
}