.app {
    /* position: relative; */
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;    
}

.container > .header-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: #000046;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Add this line */
    padding: 0 20px; /* Add padding to create space between icons and edges */
}

.container > .header-item> .profile-icon {
    margin-right: 20px;
}

/* CSS for the sidebar: */
  
.container > .sidebar{
    width: 200px;
    height: 100%;
    /* fix the sidebar to be 100 viewport minus the header */
    padding-top:  80px;
    /* max-height: calc(100vh - 60px); */
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: white;
}

.container > .sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-link {
    text-decoration: none; /* Remove underline from the anchor */
    color: inherit; /* Inherit text color from parent */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-link:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

.icon-text {
    margin-top: 8px; /* Adjust margin to separate icon and text */
}

/* Style for active page */
/* .sidebar-item.active .sidebar-link {
    background-color: #f0f0f0; 
} */






