* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #F0F5FA;
  color: #000046;
}

header {
  background-color: #000046;
  color: #F0F5FA;
}

header > img {
  width: 350px;
  padding: 15px 0 15px 50px;
}

button {
  background-color: #000046;
  color: #F0F5FA;
}

button:hover {
  background-color: #64dc78;
}

/* - Header background: #000046
- Form input background colour: #e6ebf5
- Post title colour: #64648c
*/
