
.create_post_layout {
  background-color: white;
  color: #64648c;
  margin: 20px;
  height: 100px;
  width: 94%;
  border-radius: 8px;
  padding: 15px;
}

.create_post_layout .icon_div {
    float:left; 
    display:inline; 
    width: 5%;
    margin-top: 20px;
}

.create_post_layout .insertion_div {
    float:left; 
    display:inline; 
    width: 95%;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: lightgreen;
  border-radius: 50%;
  display: flex;
  color:#000046
}

.circle_text {
  margin: auto;
}

.title_input {
  height: 40px;
  width: 30%;
  border-radius: 8px;
  background-color: #e6ebf5;
  color: rgb(26, 26, 26);
  border-style: none;
  margin-top: -100px;
  padding-left: 10px;
}

.content_input {
  height: 40px;
  width: 85%;
  border-radius: 8px;
  background-color: #e6ebf5;
  color: rgb(26, 26, 26);
  border-style: none;
  padding-left: 10px;
}

.post_button {
  height: 45px;
  width: 150px;
  border-radius: 8px;
  background-color: #000046;
  color: white;
  margin-left: 15px;
}

.button_text {
  margin: auto;
}
