.side-menu {
    width: 200px;
    height: 100%;
    /* fix the sidebar to be 100 viewport minus the header */
    max-height: calc(100vh - 60px);
    margin: 0;
    background-color: white;
  }

.side-menu input[type=checkbox] {
    display: none;
}

.side-menu label {
  text-align: center;
  padding: 30%;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}