.circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-align: center;
    background-color: #000;
    user-select: none;
}

.circle:hover {
    cursor: pointer;
}