.circle {
    width: 40px;
    height: 40px;
    line-height: 41px;
    border-radius: 50%;
    font-size: 19px;
    font-weight: 500;
    color: black;
    text-align: center;
    background-color: #000;
    display: inline-block; /* Ensures the circle doesn't expand to the full width */
  }