.create-post-container {
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    background-color: white;

    display: flex;
    justify-content: left;
    align-items: center;
    width: calc(100% - 30px);
    height: 80px;
    padding: 10px;
    padding-left: 30px;
}

.create-post-container > label > input {
    margin-left: 20px;
}

input {
    border-radius: 15px;
    margin-left: 20px;
    padding-left: 10px;
    width: 100%;
    height: 50px;
}

button {
    position: relative;
    left: calc(80px / 2);
    width: 100px;
}

.create-post-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: calc(100vw - 200px - 270px);
    min-width: 150px;
}

.create-post-input-container > label > input {
    margin-top: 10px;
}