.post-panel {
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    background-color: white;

    display: block;
    justify-content: left;
    align-items: center;
    width: calc(100% - 30px - 15px);
    padding: 30px;
    margin-bottom: 30px;
}

.post-user-information-container {
    display: flex;
    width: 100%;
}

.post-user-information {
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    margin-left: 20px;
}


.post-content-container {
    display: inline-block;
    position: relative;
    justify-content: normal;
    border-bottom: solid 1px lightgray;
    width: 100%;
}

.post-content-container > p {
    text-align: left;
}

.post-title {
    color: var(--post-title-color)
}