.left-menu {
    background-color: white;
    width: 10rem;
}

.left-menu > .page-list {
    list-style: none;
    color: black;
    padding: 0;
    margin: 0;
}

.left-menu > .page-list > .item {
    padding: 3rem 0rem;
}

.left-menu > .page-list > .item:hover {
    background-color: lightgray;
    box-shadow: 0px 0px 2px 0px lightsteelblue;
}

.left-menu > .page-list > .active {
    background-color: lightgray;
}

.left-menu > .page-list {
    list-style: none;
}

.left-menu > .page-list > .item > .nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
