.post {
    background: white;
    width: 750px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.onlyPost {
    margin-left: 40px;
}


.postHead {
    margin-left: 90px;
    height: 20px;
}

h1.postHead {
    font-size: 25px;
    font-weight: 1000;
}

h2.postHead {
    font-size: 15px;
}

.postText {
    font-size: 20px;
    font-weight: 500;
    border-bottom: gray solid 1px;
}

.comment {
    background: #e6ebf5;
    width: fit-content;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    margin-left: 50px;
    padding-right: 20px;
}

.comment h1 {
    font-size: 20px;
    margin-left: 10px;
}

.comment h2 {
    font-size: 20px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: -10px;
}

input {
    background-color: #e6ebf5;
    border: none;
    height: 50px;
    width: 630px;
    margin-left: 90px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px;
    font-size: large;

}

.addComment img {
    width: 30px;
    position: absolute;
    margin: -50px;
    margin-top: 10px;
}

.addPost {
    background: white;
    border: 2px solid black;
    padding: 4px;
    margin: 5px;
}

.postButton {
    background: #000046;
    color: white
}

.showAllComments {
    color: gray;
    font-size: large;
    font-weight: 600;

}