@import '../styles/SideBar.css';
@import '../styles/DashBoard.css';

#root {
  font-family: sans-serif;
  max-width: 1280px;
  /* margin: 0 auto; */
  line-height: 1.5;
  font-weight: 400;
  padding: 2rem;
  text-align: center;

  color: rgba(255, 255, 255, 0.87);
   --black: #0f0f0f;
  --border: rgb(239, 243, 244);
  --primary: rgb(29, 155, 240);
  --primary-transparent-more: rgba(241, 241, 6, 0.514);
  
}


body {
  margin: 0;
  color: var(--black);
  min-width: 100vw;
  min-height: 100vh;
  /* display: flex; */
  /* place-items: start; */
  box-sizing: border-box;
  background-color: cadetblue;
}

a:hover {
  color: #535bf2;
}


