.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000046;
    place-content: center;
}

#profile-icon-header {
    place-self: end;
}

.left-side {
    display: grid;
    grid-area: left;
    background-color: #ffff;
    grid-template-rows: 7rem 7rem;
}

.dashboard-container {
    padding: 2rem;
    gap: 1rem;
}

.dashboard-container p{
    color: #64648c;
    font-weight: 500;
}

.dashboard-container:focus {
    color: #000046;
    background-color: #e6ebf5;
    cursor: pointer;
}
