.page {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 1rem;
}

.page > h1 {
    color: navy;
    margin: 0 1rem;
}

.page > .profile {
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 2px 1px lightsteelblue;
}

.page > .profile > .profile-banner {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.page > .profile > .profile-banner > h2 {
    color: navy;
    font-size: 24px;
}
