.post-reply-item-container {
    display: flex;
    align-items:start;
}

.post-reply-item {
    margin-bottom: 20px;
    display: block;
    position: relative;
    width: 100%;
}

.post-reply-content-container {
    margin-left: 10px;
    border-radius: 15px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: var(--form-background-color)
}

.post-reply-content-container > span {
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: 16px;
}

.post-reply-content-container > p  {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 18px;
    text-align: left;
}
