#root {
    margin: 0;
    padding: 0;
  }
  

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout > .main {
    flex: 1;
    display: flex;
}

.layout > .main > .routes {
    flex: 1;
    max-height: 90vh;
    overflow: auto;
}