.header-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    background-color: var(--primary-color);
    display: inline-flex;
    justify-items: center;
    align-items: center;
}

.component-container {
    width: 95%;
    display: inline-flex;
    flex: none;
    justify-content:space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;

    margin-right: 10%;
    background-color: var(--primary-color)
}