header {
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000460;
    grid-area: header;

}

header > *:nth-child(1) {
    padding: 15px;
    width: 250px;  
}

header > *:nth-child(2) {
    justify-self: flex-end;
    margin: 15px ;    
}


.profile-icon  {
    display: grid;
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.userProfileName {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    font-size: 20px;
}