.header-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 90px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;

    background-color: var(--primary-color)
}