.circle-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .initials {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.486);
  }
  