.sidebar {
    flex: 1;

    border-right: 0px solid gray;

    .list {
        list-style: none;
        list-style-type: square;
        display: flex;
        flex-direction: column;
        padding: 0;

        >* {
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            align-items: center;
        }
    }
}