.comment-container {
    display: flex;
    flex-direction: row;
}

.comment-profile-image {
    
}

.comment-body {
    flex-direction: column;
    margin-bottom: 12px;
    background-color: #e6ebf5;
    border-radius: 5px;
    
    padding-left: 1rem;
    padding-right: 1rem;

    font-size: 14px;
}

.comment-content {
    margin-top: -10px;
}