.create-post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 20px;
  background-color: white;
  height: 50px;
  padding: 20px;
  border-radius: 5px;
}

.input-container {
  width: 100%;
  display: flex;
  transition: all 0.8s ease; /* Transition for width change */
}

.title-input {
  width: 100%;
  transition: width 0.3s ease; /* Transition for width change */
}

.title-input.active {
  width: 45%;
}

.post-input {
  width: 45%;
  margin-left: 15px;
  transition: opacity 0.3s ease;
}

.title-input.active + .post-input {
  opacity: 1;
}

.create-post-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.create-post a {
  text-decoration: none;
  color: #000046;
  font-size: 1em;
  font-family: "Roboto Thin", sans-serif;
}

.create-post-profile {
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  margin-right: 10px;
  border-radius: 50%;
  padding: 20px;
  height: 15px;
  width: 15px;
  background-color: #64dc78;
  line-height: 20px;
  font-family: "Roboto Thin", sans-serif;
}
.create-post-profile h2 {
  font-weight: 100;
  font-size: 1.2em;
}

.create-post input {
  padding: 15px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-family: "Roboto Thin", sans-serif;
  font-size: 1.1em;
  background-color: #e6ebf5;
}
.create-post input:focus {
  outline: none;
}
.create-post button {
  padding: 15px;
  background-color: #000046;
  color: white;
  border: none;
  font-family: "Roboto Thin", sans-serif;
  font-size: 1em;
  margin-left: 10px;
  border-radius: 5px;
  width: 200px;
}
.create-post button:hover {
  background-color: #64dc78;
  cursor: pointer;
}
.post-list ul {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
}
.post-list a {
  text-decoration: none;
  color: #000046;
}

.post-list-item {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.post-list-item-header {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  margin-left: 10px;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.post-list-item-header div:nth-child(1) {
  margin-top: 20px;
}
.post-list-item-header div:nth-child(2) h3 {
  margin-bottom: 0px;
  color: #000046;
}
.post-list-item-header div:nth-child(2) p {
  margin-top: 10px;
  font-size: 1em;
  font-weight: bolder;
  color: #77779a;
}
.post-list-item-content {
  display: block;
  padding: 10px;
  color: #000046;
  font-weight: 600;
  margin-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.post-list-item-profile {
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 0.8em;
  padding: 20px;
  height: 8px;
  width: 8px;
  line-height: 10px;
  font-family: "Roboto Thin", sans-serif;
}

.post-list-item-comments {
  margin: 0;
}

.post-list-item-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  width: 90%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 0;
}
.post-list-show-more {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;

  background-color: white;
  height: 7px;
  border-radius: 5px;
}
.post-list-show-more a {
  text-decoration: none;
  color: #000046;
  font-size: 1em;
  font-family: "Roboto Thin", sans-serif;
  margin-bottom: 10px;
}

.post-list-show-more:hover {
  color: #e6ebf5;
  cursor: pointer;
}

.post-list-item-comment-item input {
  padding: 15px;
  width: min-content;
  border-radius: 8px;
  border: none;
  font-family: "Roboto Thin", sans-serif;
  background-color: #dadce6;
  margin: 10px;
  color: black;
}
.post-list-item-comment-item input:focus {
  outline: none;
}

.post-list-item-comment-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: max-content;
  padding-right: 20px;
  background-color: #e6ebf5;
  border-radius: 5px;
}
.post-list-item-comment-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  width: 100%;
}

hr {
  width: 98%;
  margin-left: 15px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #e7eaf0;

  padding: 0;
}

.post-list-item-comment-item #name {
  margin-top: 17px;
  margin-bottom: 0;
  margin-left: 10px;
  color: #000046;
  font-weight: 700;
  font-family: "Roboto Thin", sans-serif;
}
.post-list-item-comment-item #content {
  margin-top: 5px;
  margin-bottom: 18px;
  margin-left: 10px;
  color: #000046;
  font-weight: 500;
  font-family: "Roboto Thin", sans-serif;
}

.post-list-item-comment-profile {
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 0.8em;
  padding: 20px;
  height: 8px;
  width: 8px;
  line-height: 20px;
  font-family: "Roboto Thin", sans-serif;
}

.create-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: white;
  height: 50px;
  border-radius: 5px;
}

.create-comment-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-comment a {
  text-decoration: none;
  color: #000046;
  font-size: 1em;
  font-family: "Roboto Thin", sans-serif;
}

.create-comment input {
  padding: 15px;
  width: 100%;
  border-radius: 8px 0 0 8px;
  border: none;
  font-family: "Roboto Thin", sans-serif;
  font-size: 1.1em;
  background-color: #e6ebf5;
}
.create-comment input:focus {
  outline: none;
}
.create-comment button {
  background-color: #c8d2e6;
  padding: 2.5px;
  color: black;
  border: none;
  font-family: "Roboto Thin", sans-serif;
  font-size: 1em;
  margin-left: auto;

  text-align: center;
  border-radius: 50px;
  display: flex;
}

.create-comment-button-container {
  background-color: #e6ebf5;
  padding: 5.5px;
  border-radius: 0 8px 8px 0;
  margin-right: 20px;
}
.create-comment button:hover {
  background-color: #64dc78;
  color: white;
  cursor: pointer;
}
.comment-edit-delete {
  background-color: transparent;
  color: black;
  border: none;
  font-family: "Roboto Thin", sans-serif;
  font-size: 1em;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
}
.comment-edit-delete:hover {
  background-color: #64dc78;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.post-edit-delete-buttons {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  width: 10%;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-edit-delete {
  background-color: transparent;
  color: black;
  border: none;
  font-family: "Roboto Thin", sans-serif;
  font-size: 1em;
  margin-left: auto;
  width: 50px;
  height: 50px;
  text-align: end;
  display: flex;
  flex-direction: row;
}
.post-edit-delete:hover {
  background-color: #64dc78;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.post-list-item > form input {
  padding: 15px;
  width: 90%;
  border-radius: 8px;
  border: none;
  font-family: "Roboto Thin", sans-serif;
  font-size: 1.1em;
  background-color: #e6ebf5;
}
.post-list-item form input:focus {
  outline: none;
}
