.create-post-container {
    margin: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #e6ebf5;
    border-radius: 5px;
    padding: 1rem;
}

.create-post-input-field {
    background-color: #e6ebf5;
    color: black;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    border: none;
    width: 100%;
}

.post-button {
    margin-left: 1rem;
}

.post-button-text {
    width: 10rem
}