.feed {
    overflow-y: scroll;
    width: 100%;
}

  
  
.feed-input-field {
    background-color: #e6ebf5;
    color: black;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    border: none;
    width: 90%;
}

.post-button-text {
    width: 10rem
}

