/* Feed/index.css */
.feed {
    width: 100%;
}

.comment-container {
    margin: 1rem;
    display: flex; /* Allow side-by-side positioning */
    align-items: center; /* Align items vertically */
    background-color: white;
    border: 1px solid #e6ebf5;
    border-radius: 5px;
    padding: 1rem;
}
  
.feed-input-field {
    background-color: #e6ebf5;
    color: black; /* Text color */
    border-radius: 5px; /* Rounded corners */
    padding: 0.75rem 1rem; /* Adjust padding if needed */
    border: none; /* Remove border */
    width: 90%;
}

.rem-right {
    margin-right: 0.5rem;
}

.post-button {
    margin-left: 1rem;
}

.post-button-text {
    width: 10rem
}