.personal-post{
    background-color: #f5f2f2e3;
    grid-auto-flow: row;
    margin: 60px;
    padding: 0 20px 0 20px;
    row-gap: 100px;
}

.personal-post-header{
    display: grid;
    background-color: #f5f2f2f4;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;


    
}