first-contact-logo{
    width:40px;
    height: 40px;
    color: black;
    font-size: 0.8rem;
    font-family: sans-serif;
    background-color: rgb(100, 219, 100);
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 50%;
    ;
}

.first-contact-logo:hover{
    cursor: pointer;
}