.add-comment {
    display: grid;
    grid-template-columns: 70px 1fr, 100px;
    grid-template-rows: 1fr;
    padding: 10px;
    grid-gap: 10px;
    align-items: center;
}

.profile-icon {
    grid-area: 1 / 1 / 3 / 2;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

.comment-form {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.comment-form input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    background-color: #e6ebf5;
    width: 900px;
    height: 50px;
}

.comment-form button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    background-color: #000046;
    color: white;
    width: 100px;
    height: 50px;
    cursor: pointer;

}

.comment-form button:hover {
    transition: 0.5s;
    background-color: #64dc78;
}

.comment {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    align-items: center;
}

.commenter-icon {
    grid-area: 1 / 1 / 3 / 2;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

.comment-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #e6ebf5;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(52, 52, 94);
}
