.addComment {
  display: grid;
  grid-area: addComment;
  border-radius: 10px;
  grid-template-columns: 1fr 20fr;
}
.addCommentInitials {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: lightgreen;
  padding: 10px;
  display: grid;
  place-content: center;
  margin: 20px;
}
.addCommentInitials p {
  color: #000046;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.addComment input {
  width: 900px;
  height: 40px;
  border: none;
  margin-top: 20px;
  gap: 5px;
  background-color: #e6ebf5;
  border-radius: 10px;
  padding-left: 15px;
}

.sendCommentButton {
  width: 25px;
  position: absolute;
  right: 140px;
  margin-top: 28px;
  cursor: pointer;
}
