body {
  /* Make the body fill all the size of viewport */
  width: 100vw;
  height: 100vh;
  /* remove padding and margins */
  margin: 0;
  padding: 0;
}

/* Create a root container that fills the screen
make the child components lay out using flex, vertically stacked in a column */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Create a container that fills the rest of the screen that is left over */
/* The children inside this container must be laid out using flex as a row, from left to right */
.container-nav-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* style for the header, it must have a fixed height and full width */
.header {
  height: 100px;
  width: 100vw;
}

/* make the sidebar fill the available height and be of fixed width */
.sidebar {
  width: 150px;
  height: 100%;
  /* fix the sidebar to be 100 viewport minus the header */
  max-height: calc(100vh - 60px);
}

/* make the main fill the remaining width and the full height of the parent */
.main {
  flex-grow: 1;
  /* if contents of main overflow from the height, add a scrollbar on main */
  overflow-y: auto;
  /* fix the sidebar to be 100 viewport minus the header */
  max-height: calc(100vh - 60px);
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
  margin: 10px;
  height: 200px;
  width: 100%;
}
.profile-icon img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1450px;
}
.header-logo img {
  height: 40px;
  width: 500px;
  margin-left: 100px;
}
.sidebar-icons img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-left: 15px;
}