* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Grid Layout */
#root {
  display: grid;
  grid-template:
      100px
      1fr / 150px 1fr;
  grid-template-areas:
      'header header'
      'nav main';
}

/* Profile Picture Styles */
.profile-picture {
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  color: rgb(252, 252, 252);
  background-color: rgb(159, 160, 232);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

/* Header Styles */
.header {
  grid-area: header;
  background-color: #000046;
  display: flex;
  align-items: center;
  gap: 75%;
}

.header svg {
  height: 50%;
  padding-left: 50px;
}

.header .profile-picture {
  margin-right: 20px;
}

/* Navigation Styles */
.nav-bar {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-bar li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

.nav-bar li:hover {
  cursor: pointer;
}

/* Main Content Styles */
.main {
  background-color: #f0f5fa;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .feature {
  margin: 20px;
  background-color: #fff;
  width: 800px;
  min-height: 50px;
  border-radius: 8px;
}

/* Post Creation Styles */
.post-create {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
  align-items: center;
  height:70px;
}

.post-create button {
  width: 300px;
  height: 40px;
  border: none;
  background-color: #000046;
  color: #fff;
  border-radius: 10px;
}

.post-create button {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.post-create button:hover {
  background-color: #64dc78;
}

.post-create form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 15px;
  flex: 2 1 auto;
  height: 100%;
  align-items: center;
}

.post-create form input,
.post-create form textarea {
  width: 100%;
  background-color: #e6ebf5;
  resize: none;
  margin-bottom: 10px;
  
}

/* Post Styles */
.post-bar,
.post-content {
  padding: 10px 0px;
  margin: 20px;
  height
}

.post-bar p {
  color: #64648c;
}

hr {
  background-color: lightgray;
  margin: 20px;
}

/* Comment Styles */
.comment {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px;
}

.comment>article {
  background-color: #e6ebf5;
  border-radius: 5px;
  padding: 16px;
}

.comment-form input {
  background-color: #e6ebf5;
  width: 650px;
  height: 40px;
  border-radius: 5px;
}

.comment-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

button {
  background-color: #000046;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  width: 40px;
  height:30px;
}
/* other */

.active {
  background-color: #e6ebf5;
}



li {
  text-decoration: none;
}

hr {
  background-color: lightgray;
}
