* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  list-style: none;
  text-decoration: none;
  background-color: #f0f5fa;
}

.app {
  display: grid;
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main";
  width: 100%;
}

header {
  grid-area: header;
  background-color: #000046;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-template-rows: 1fr;
  justify-content: center;
  height: 100%;

}

.sidebar-section {
}

.main-section {
  margin: auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e6ebf5;
}