#root {
  background-color: #F0F5FA;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100dvh;
  width: 100%;

  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

header {
  background-color: #000046;
  padding: 17px 20px;
  width: 100%;
  height: 82px;
  box-sizing: border-box;

    .logo {
      width: 304px;
      padding-left: 34px;
    }
}

.view {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;


  
  .view-container {
    display: flex;
    flex-direction: row;
    flex: 1;
  
    .sidebar {
      border-right: 1.4px solid #e6ebf5;
      background-color: #fff;
      width: 130px;
      box-sizing: border-box;

      .menu-button {
        font-weight: bold;
        font-size: 1.8ch;
        font-family: Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 115px;
        background-color: #ffffff;
        text-decoration: none;
        border-style: none;
        border-right: 1.4px solid #e6ebf5;
        color: #64648C;
      }
      .menu-button-active {
        font-weight: bold;
        font-size: 1.8ch;
        font-family: Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 115px;
        background-color: #e6ebf5;
        text-decoration: none;
        border-style: none;
        border-right: 1.4px solid #e6ebf5;
        color: #000046;
      }
      
      .menu-button:hover {
        background-color: #64dc78;
      }

      .menu-button-text {
        margin-top: 7px;
      }
  
      .ul {
        list-style: none;
        padding: 0;
  
        .li {
          margin-bottom: 10px;
        }
      }
    }

    .content {
      display: flex;
      flex: 1;
      padding: 20px;
      box-sizing: border-box;
      background-color: #F0F5FA;
    }
  }
}

.feed {
  flex: 1;
  flex-direction: column;
  max-height: 476px;
  overflow-y: scroll;

  .post{
    display: flex;
    background-color: white;
    width: auto;
    height: fit-content;
    border: 1.3px solid #e6ebf5;
    border-radius: 6px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;

    .post-content {
      padding-left: 12px;
      flex: 1;
    }

    .post-input {
      flex: 1;
      margin-left: 10px;
      margin-right: 15px;
      border-radius: 5px;
      border: 1.3px solid #e6ebf5;
      background-color:#e6ebf5;
      text-indent: 10px;
      font-weight: bold;
      color:#64648C;
    }
    .post-submit-button {
      color: white;
      font-size: 100%;
      background-color:#000046;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 7%;
      padding-right: 7%;
    }
    .post-input::placeholder {
      flex: 1;
      margin-left: 10px;
      margin-right: 15px;
      border-radius: 5px;
      border: 1.3px solid #e6ebf5;
      background-color:#e6ebf5;
      text-indent: 10px;
      font-weight: bold;
      color:#64648C;
    }
  }

  .post-head {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;

    .info {
      display: flex;
      flex-direction: column;
      padding-left: 16px;

      .username {
        font-weight: bold;
        font-size: large;
        color:#000046
      }
      
      .post-title {
        padding-top: 4px;
        font-weight: 750;
        overflow-wrap: normal;
        font-size: small;
        color:#64648C
      }
    }
  }
  .post-body {
    color:#000046;
    font-size: medium;
    font-weight: 500;
    word-wrap: normal;
    padding-bottom: 20px;
    border-bottom: 1.5px solid #e6ebf5;
  }
}
.feed::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.link {
  text-decoration: none;
}

.user-icon {
  border-radius: 50%;
  border: 1px solid #e6ebf5;
  object-fit: cover;
  overflow: hidden;
  background-color:#64dc78;
  width: 46px;
  height: 46px;
  font-weight: bold;
  color:#000046;
  
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-container {
  margin-top: 15px;
}
.comment-bar-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.comment-bar-field {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.comment-bar-input {
  display: flex;
  flex-direction: row;
  flex: 1;

  border-radius: 5px;
  border: 1.3px solid #e6ebf5;
  background-color:#e6ebf5;
  text-indent: 10px;
  font-weight: bold;
  color:#64648C;
}
.comment-bar-input::placeholder {
  display: flex;
  flex-direction: row;
  flex: 1;

  border-radius: 5px;
  border: 1.3px solid #e6ebf5;
  background-color:#e6ebf5;
  text-indent: 10px;
  font-weight: bold;
  color:#64648C;
}

.comment-bar-button {
  border-radius: 50%;
  border: 1px solid #e6ebf5;
  object-fit: cover;
  overflow: hidden;
  background-color:rgb(0, 0, 0, 0);
  padding-left: 11px;
  margin: 5px;
  width: 36px;
  height: 36px;
  background-color:#C8D2E6;
  
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-bar {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #e6ebf5;
  border-radius: 5px;
  border: 1.3px solid #e6ebf5;
  background-color:#e6ebf5;
  text-indent: 10px;
  font-weight: bold;
  color:#64648C;
}

.comment-section {
  font-weight: 500;
  color:#64648C;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  
  .comment-content {
    flex: 1;
    padding: 15px;
    padding-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #e6ebf5;

    .comment-username{
      font-weight: bold;
      font-size: medium;
      color:#000046;

    }
    .comment-text{
      font-size: medium;
      color:#000046;
      
    }
  }
}