* {
  margin: 0;
  padding: 0;

  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  /* background-color: #f0f5fa; */
}

/* Header */
.header {
  grid-area: header;
  display: grid;
  padding: 10px 20px;
  grid-template: "titleHeading userInitials";
  grid-template-columns: 1fr 200px;
  background-color: #000046;
  justify-content: space-between;
  align-items: center;
}

.header > img {
  width: 350px;
}

.userInitials {
  grid-area: userInitials;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  background-color: green;
  color: #000046;
  display: grid;
  font-size: 25px;
  font-size: bold;
  align-items: center;
  justify-content: center;
}

/* SideBar */

/* Container */
.containerTwo {
  display: grid;
  grid-template: "sideBar mainContent";
  grid-template-columns: 150px 1fr;
}

.sideBar {
  grid-area: sideBar;
  background-color: white;
}

.mainContent {
  grid-area: mainContent;
  background-color: #f0f5fa;
  padding: 30px;
}

.sideBar {
  grid-area: sideBar;
  gap: 10px;
  padding: 10px;

  display: grid;
  grid-template:
    "homeIconCon"
    "profileIconCon";
  grid-template-rows: 80px 80px;
}

.homeIconCon {
  grid-area: homeIconCon;
  display: grid;
  grid-template:
    "homeIcon"
    "homeText";
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.homeIcon {
  grid-area: homeIcon;
}

.homeIcon > img {
  margin-top: 20px;
}

.homeText {
  grid-area: homeText;
}

.homeText > p {
  margin-top: 4px;
  color: #000046;
}

.profileIconCon {
  grid-area: profileIconCon;
  display: grid;
  grid-template:
    "profileIcon"
    "profileText";
  padding: 3px;
  grid-template-rows: 70px 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profileIcon {
  grid-area: profileIcon;
}

.profileIcon > img {
  margin-top: 20px;
}

.profileText {
  grid-area: profileText;

  color: #000046;
}

.profileText > p {
  margin-top: 4px;
}

/* Main */
.main {
  grid-area: main;
  display: grid;
  grid-template:
    "postContainer"
    "commentContainer";
  grid-template-rows: 140px 1fr;
  gap: 3px;
  padding: 3px;
}

.postContainer {
  grid-area: postContainer;
  border-radius: 5px;
  display: grid;
  grid-template: "userInitialsPost whatsOnMind postButton";
  grid-template-columns: 90px 780px 200px;
  padding: 3px;
  background-color: rgba(219, 219, 219, 0.946);
}

.userInitialsPost {
  grid-area: userInitialsPost;
  height: 80px;
  align-self: center;
  background-color: #f0f5fa;
}

.whatsOnMind {
  grid-area: whatsOnMind;
  height: 80px;
  align-self: center;
  background-color: #f0f5fa;
}

.whatsOn {
  width: 770px;
  margin-right: 180px;
  margin-top: 20px;
  height: 40px;
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
}

.postButton {
  grid-area: postButton;
  height: 80px;
  align-self: center;
  background-color: #f0f5fa;
}

.postBtn {
  width: 150px;
  height: 43px;
  margin-top: 20px;
  background-color: #000046;
  border-radius: 5px;
  cursor: pointer;
}

.postBtn > p {
  color: white;
  font-size: 16px;
}

.commentContainer {
  grid-area: commentContainer;
  display: grid;
  grid-template:
    "commentSection"
    "addAComment";
  grid-template-rows: 200px 150px;
  gap: 3px;
  padding: 10px;
  background-color: white;
  margin-top: 20px;
}

.commentSection {
  grid-area: commentSection;
  border-radius: 5px;

  display: grid;
  grid-template:
    "userInfoCon"
    "comment";
  grid-template-rows: auto 1fr;
  gap: 3px;
  padding: 3px;
  background-color: white;
}

.userInfoCon {
  grid-area: userInfoCon;

  display: grid;
  grid-template: "intialsInCommentCon nameTitleCon";
  grid-template-columns: 60px 1000px;

  gap: 3px;
  padding: 3px;
}

.intialsInCommentCon {
  grid-area: intialsInCommentCon;

  height: 80px;
  align-self: center;
}

.nameTitleCon {
  grid-area: nameTitleCon;

  display: grid;
  grid-template:
    "name"
    "title";
  grid-template-rows: 50px 50px;
  gap: 3px;
  padding: 3px;
}

.name {
  grid-area: name;
}

.name > p {
  margin-right: 900px;
  font-size: 14px;
  margin-top: 16px;
}

.title {
  grid-area: title;
}

.title > p {
  margin-right: 640px;
  font-size: 14px;
  margin-top: 16px;
  color: rgb(67, 66, 66);
}

.comment {
  grid-area: comment;

  font-size: 14px;
}

.comment > p {
  text-align: left;
  padding: 10px;
}

.addAComment {
  grid-area: addAComment;

  border-radius: 5px;

  display: grid;
  grid-template: "userInitialsComment commentInput commentButton";
  grid-template-columns: 70px 820px 160px;
  gap: 3px;
  padding: 3px;
  background-color: white;
}

.userInitialsComment {
  grid-area: userInitialsComment;

  height: 80px;
  align-self: center;
  background-color: #f0f5fa;
}

.commentInput {
  grid-area: commentInput;

  height: 80px;
  align-self: center;
  background-color: #f0f5fa;
}

.inputAComment {
  width: 800px;
  margin-right: 180px;
  margin-top: 20px;
  height: 40px;
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
}

.commentButton {
  grid-area: commentButton;

  height: 80px;
  align-self: center;
  margin-left: 60px;
  background-color: #f0f5fa;
}

.commentButton > button {
  border-radius: 50%;
  margin-top: 20px;
  cursor: pointer;
}

.commentButton > button > img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
  right: 1px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
