body {
  /* Make the body fill all the size of viewport */
  width: 100vw;
  height: 100vh;
  /* remove padding and margins */
  margin: 0;
  padding: 0;
}

/* Create a root container that fills the screen
make the child components lay out using flex, vertically stacked in a column */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Create a container that fills the rest of the screen that is left over */
/* The children inside this container must be laid out using flex as a row, from left to right */
.container-nav-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* style for the header, it must have a fixed height and full width */
.header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #000046;
}

.header svg {
  width: 100%; /* Adjust the width as needed */
}

.header div {
  display: flex;
  align-items: center;
}

.header div:first-child {
  margin-right: auto;
}

.header div:last-child {
  margin-left: auto;
}

/* make the sidebar fill the available height and be of fixed width */
.sidebar {
  width: 200px;
  height: 100%;
  /* fix the sidebar to be 100 viewport minus the header */
  max-height: calc(100vh - 60px);
}

/* make the main fill the remaining width and the full height of the parent */
.main {
  flex-grow: 1;
  /* if contents of main overflow from the height, add a scrollbar on main */
  overflow-y: auto;
  /* fix the sidebar to be 100 viewport minus the header */
  max-height: calc(100vh - 60px);
}

.blue {
  background-color: #000046;
}

.green {
  background-color: rgb(199, 199, 199);
}

.yellow {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 200px;
  width: 100%;
  border-style: solid;
}

.post-list-items {
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 200px;
  width: 98%;
}


.comment-box {
  background-color: rgb(255, 255, 255);
}

.post-comment-container {
  border-style: solid;
  margin-bottom: 10px;
}

.comment-form {
  display: flex;
  align-items: center; /* Center items vertically */
}

.post-box-textarea-section {
  display: flex;
  align-items: center; /* Center items vertically */
}

textarea {
  flex: 1; /* Take remaining space */
}

.comment-list-items {
  list-style-type: none;
}

.profile-container{
  background-color: gray;
  width: 100%;
}
