.postContainer {
  display: grid;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  margin-top: 20px;
  grid-template-columns: 1fr 20fr 2fr;
}
.yourMind {
  padding-left: 15px;
  width: 1fr;
  height: 40px;
  border: 0cap;
  margin-top: 20px;
  gap: 5px;
  background-color: #e6ebf5;
  border-radius: 10px;
  margin: 20px;
}
.submitPost {
  display: grid;
  place-content: center;
  background-color: #000046;
  height: 20px;
  gap: 5px;
  margin: 15px;
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
}
