/* Style guide */

header,
button {
    background-color: #000046;
}

button:hover {
    color: #000046;
    background-color: #64dc78;
}

input {
    border: none;
    border-radius: 0.25rem;
    max-height: 3rem;
    padding: 1rem;
    background-color: #e6ebf5;
}

input::placeholder {
    color: #64648c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

header {
    display: grid;
    grid-area: header;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    padding: 1rem 3rem 1rem 3rem;
}

#title-header {
    width: 20rem;
}

header figure {
    justify-self: right;
}

header figure,
main figure {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 1.6rem;
    background-color: #64dc78;
}

figcaption {
    font-weight: bold;
}

/* Nav */

nav {
    display: grid;
    grid-area: nav;
    background-color: white;
    grid-template-rows: repeat(2, 8rem);
    padding-top: 1rem;
}

nav figure {
    display: grid;
    grid-template-rows: 2.5rem 2rem;
    align-items: center;
    align-content: center;
    justify-items: center;
}

nav figure:hover {
    background-color: #e6ebf5;
}

nav figure img {
    width: 2rem;
    height: 2rem;
}

nav figcaption {
    font-weight: lighter;
}

/* Main */

main {
    display: grid;
    grid-area: main;
    grid-template: 
        'section' min-content
        'article' 1fr;
    margin: 1rem;
    gap: 1rem;
}

main section {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
}

main section form {
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) 10rem;
    gap: 1rem;
}

main section form button {
    border: none;
    border-radius: 0.25rem;
    align-self: center;
    height: 3rem;
    color: #e6ebf5; 
    font-size: 1rem;  
}

main section form div {
    display: grid;
    gap: 0.25rem;
}

main article {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding: 1rem;
    background-color: white;
    align-items: center;
    gap: 1rem;
}

main article #separator {
    height: 0.05rem;
    background-color: #e6ebf5;
}

main article div.author {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

main article div.author .name-title {
    display: grid;
    justify-content: left;
    gap: 0.7rem;
}

main article div.author .name-title b {
    color: #64648c;
    font-size: 14px;
}

main article div.add-comment {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

main article div.comment {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: left;
}

main article div.comment div#author-comment {
    border: none;
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: #e6ebf5;
}