.add-comment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    overflow: visible;
    gap: 1.5rem;
}

.add-comment-input-container {
    display: flex;
    justify-content: space-between;
    left: 0;
    width: 100%;
}

.aspect-ratio {
    aspect-ratio: 1/1;
}

.add-comment-input {
    width: 85%;
    min-height: 40px;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #e6ebf5;
    color: #333;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.add-comment-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color:  #000046;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 10%;
    /* height: 60%;
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-95px); */
}