.profile-header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.profile-edit-container {
  border: 1px solid #ccc;
  padding: 13px;
  margin-bottom: 2px;
  display: flex;
}

.profile-edit-inputs {
  flex: grow 1
}

.profile-edit-input {
  margin-bottom: 30px;
}