.navigation-menu {
    position: fixed;
    left: 0px;
    top: 90px;
    height: calc(100vh - 90px);
    background-color: white;
}

.navigation-menu > div {
    padding-top: 20px;
    height: auto;
    width: 150px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation-menu > div > img {
    position: relative;
    top: -10px;
}

.navigation-menu > div > p {
    position: relative;
    top: -20px;
    margin: 0px;
}

.active {
    z-index: 2;
    background-color: var(--form-background-color);
    color: var(--primary-color)
}

@media only screen and (max-width: 600px) {
    .navigation-menu > div {
        display: none;
    }
}