.profileHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0px;
}

.profileName {
    margin-left: 20px;
}